/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.navbar {
  background-color: rgb(0, 46, 93);
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 4px 12px rgba(56, 53, 53, 0.5);
  z-index: 1000;
  position: fixed;
  width: 100%; 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Styling */
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 60px;
  width: auto;
  margin-right: 1rem;
}
.logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

/* Nav Links */
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  transition: all 0.3s ease;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #FABC3F;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}

.hamburger:hover {
  color: #FABC3F;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 1000;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%; /* Hidden by default */
    width: 70%;
    height: 100%;
    background-color: rgb(0, 46, 93);
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    transition: right 0.4s ease;
  }

  .nav-links.open {
    right: 0;
  }

  .nav-links li {
    margin-bottom: 1.5rem;
  }

  .nav-links li a {
    font-size: 1.2rem;
  }
}
